@use 'mixin';
.customer-portal-question {
    background: $j-primary;
    border-top-left-radius: $j-spacing-large*2;
    border-bottom-left-radius: $j-spacing-large*2;
    padding: $j-spacing-extra-small+1;
    width: mixin.pixeltoRem(76);
    position: fixed;
    right: 0;
    bottom: mixin.pixeltoRem(80);
    z-index: 99;
    a {
        &.icon {
            background: $j-white;
            border-radius: $j-spacing-large*2;
            height: mixin.pixeltoRem(48);
            width: mixin.pixeltoRem(48);
            @include mixin.flex-align-center;
            justify-content: center;
            cursor: pointer;
            font-family: $j-font-family-heebo;
            p {
                @include mixin.font-base($j-font-extra-large, $j-line-height-base*2);
                color: $j-primary;
                margin-bottom: 0;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}