@use 'mixin';
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: $j-width-base*4;
    height: $j-width-base*4;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: {
        top: $j-spacing-medium*4;
        bottom: $j-spacing-medium*4;
        left: $j-spacing-medium;
        right: $j-spacing-medium;
    }
    &-content {
        background-color: $j-white;
        margin: auto;
        padding: $j-spacing-large*2;
        border: 1px solid #888;
        width: $j-width-base*4;
        max-width: mixin.pixeltoRem(810);
        border-radius: $j-spacing-small+2;
        box-shadow: 0px 1px 20px rgb(0 0 0 / 25%);
        overflow: auto;
        height: 100%;
        &.login {
            max-width: mixin.pixeltoRem(560);
        }
    }
    .modal-close {
        color: $j-gray-dark;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
            color: $j-black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:$tablet) {
    .modal {
        padding: {
            top: mixin.pixeltoRem(30);
        }
    }
}