$j-primary: #1ba67a;
$j-primary-light: #58b98a;
$j-primary-medium: #199875;
$j-primary-dark: #0d696a;
$j-primary-extra-dark: #2b7c7d;
$j-primary-darkest: #0C696A;
$j-secondary: #252826;
$j-secondary-medium: #c4c4c4;
$j-secondary-light: #fafafa;
$j-white: #fff;
$j-black: #000;
// colorsC4C4C4
$j-border: #808080;
$j-border-light: #969696;
$j-border-dark: #474747;
$j-scrollbar: #e7e7e7;
$j-scroll: #d7d7d7;
$j-slider: #1aa57a;
$j-footer-text: #6b726e;
$j-social-links: #ddd;
$j-certification: #ebebeb;
$j-gray: #909090;
$j-gray-light: #EFEFEF;
$j-gray-dark: #A8A8A8;
$j-gray-medium: #B9B9B9;
$j-gray-breadcrumb: #F5F5F5;
$j-ul-bg: #F7F7F7;
$j-light-gray: #F8F8F8;
$j-facebook: #425893;
// width
$j-width-base: 25%;
// spacing
$j-spacing-extra-small: 5px;
$j-spacing-small: 10px;
$j-spacing-medium: 15px;
$j-spacing-large: 25px;
// font styling
$j-font-small: 10px;
$j-font-base: 16px;
$j-font-large: 24px;
$j-font-extra-large: 36px;
$j-font-family-heebo: "heebo";
// line height
$j-line-height-small: 10;
$j-line-height-medium: 16;
$j-line-height-base: 24;
// CCS breakpoints
$mobile: 575px;
$tablet: 767px;
$tablet-md: 991px;
$desktop: 1199px;
$large-screen: 1399px;