<app-header></app-header>

<!-- mobile free delivery -->
<div class="queries-section">
    <div class="queries">
        <div class="free-delivery">
            <p>
                FREE delivery for all online vehicle purchases <br />for Lower Mainland BC Region
            </p>
        </div>
        <div class="action">
            <a href="">
                <i class="fa-regular fa-comment-dots"></i>
                <span>
                    Questions?
                </span>
            </a>
            <a href="">
                <i class="fa-regular fa-circle-user"></i>
                <span>
                    Sign in
                </span>
            </a>
        </div>
    </div>
</div>

<!-- feature -->
<div class="feature">
    <div class="container">
        <div class="feature-item">
            <div class="tile">
                <img src="assets/image/icon/feature-icon1.svg" alt="Feature Image" />
                <h3>
                    7-day test drive
                </h3>
                <p>
                    Purchase your vehicle for a 7-day test drive. Not satisfied? We&#39;ll refund and pick it up!
                </p>
            </div>
            <div class="tile">
                <img src="assets/image/icon/feature-icon2.svg" alt="Feature Image" />
                <h3>
                    Pick up or delivery
                </h3>
                <p>
                    Have your vehicle delivered for FREE or pick it up for a discounted rate on your total purchase.
                </p>
            </div>
            <div class="tile">
                <img src="assets/image/icon/feature-icon3.svg" alt="Feature Image" />
                <h3>
                    Extra savings
                </h3>
                <p>
                    Avoid excessive dealership fees and purchase your vehicle online.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Slider -->
<div class="car-category">
    <div class="container">
        <div class="slider-section">
            <div class="title">
                <h4>
                    Not sure where to begin?
                </h4>
                <p>
                    Let&#39;s narrow the selection by the size of vehicle.
                </p>
            </div>
            <!-- Swiper -->
            <div class="swiper mySwiper car-items">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="list">
                            <a href="">
                                <div class="detail">
                                    <p>
                                        Small <br />yet satisfying
                                    </p>
                                    <div class="image">
                                        <img src="assets/image/car-images/small-car.png" alt="Image" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="list">
                            <a href="">
                                <div class="detail">
                                    <p>
                                        Medium <br />for the win
                                    </p>
                                    <div class="image">
                                        <img src="assets/image/car-images/medium-car.png" alt="Image" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="list">
                            <a href="">
                                <div class="detail">
                                    <p>
                                        Large <br />and incharge
                                    </p>
                                    <div class="image">
                                        <img src="assets/image/car-images/large-car.png" alt="Image" />
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>

<!-- Parallax Information -->
<div class="parallax-swection">
    <div class="details">
        <div class="content">
            <div class="title">
                <h4>
                    Vehicle purchasing made
                    <span>simple.</span>
                </h4>
                <p>
                    Your next vehicle at your fingertips.
                    <br /> Where will your next journey take you?
                </p>
            </div>
        </div>
        <div class="image">
            <img src="assets/image/images/parallax-img1.png" alt="Image" />
        </div>
    </div>
    <div class="details details-reverse">
        <div class="image">
            <img src="assets/image/images/parallax-img2.png" alt="Image" />
        </div>
        <div class="content">
            <div class="title">
                <h4>
                    Quality First
                </h4>
                <p>
                    Hundreds of quality vehicles to choose from that have met the our 130 point inspection, are
                    detailed, and ready to hit the road!
                </p>
                <a href="">
                    Our promise<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="content">
            <div class="title">
                <h4>
                    Pre-qualify for financing
                </h4>
                <p>
                    Calculate the financing rate you&#39;ll be able to qualify for, instantly!
                </p>
                <a href="">
                    Get started<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="image">
            <img src="assets/image/images/parallax-img3.png" alt="Image" />
        </div>
    </div>
    <div class="details details-reverse">
        <div class="image">
            <img src="assets/image/images/parallax-img4.png" alt="Image" />
        </div>
        <div class="content">
            <div class="title">
                <h4>
                    Free Delivery
                </h4>
                <p>
                    Your new vehicle delivered within 5-10 business days.
                </p>
                <p>
                    Now offering to the British Columbia lower mainland region.
                </p>
                <a href="">
                    How it works<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- question -->
<div class="question-section">
    <div class="image">
        <img src="assets/image/images/questions-img.png" alt="Image" />
        <div class="text">
            <div class="detail">
                <h4>
                    Questions about your next purchase?
                </h4>
                <p>
                    Everything you need to know about purchasing a vehicle online.
                </p>
                <button class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>
</div>

<!-- CTA -->
<div class="cta-section">
    <div class="block">
        <div class="content">
            <img src="assets/image/images/cta-bg-img1.png" alt="Image" />
            <div class="text">
                <h4>
                    Trade-in or sell your vehicle
                </h4>
                <p>
                    Get an instant estimate on your vehicle.
                </p>
                <button class="btn btn-primary">Get an estimate</button>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="content">
            <img src="assets/image/images/cta-bg-img2.png" alt="Image" />
            <div class="text">
                <h4>
                    7-day guarantee
                </h4>
                <p>
                    Not satisfied? We have you covered!
                </p>
                <button class="btn btn-primary">Find out more</button>
            </div>
        </div>
    </div>
</div>






<!-- scroll to top -->
<button onclick="topFunction()" class="scroll-to-top" id="scrollBtn"><i class="fa-solid fa-up-long"></i></button>


<app-footer></app-footer>