<div id="modalview" class="modal">
    <div class="modal-content sign-in">
        <span class="modal-close">&times;</span>
        <div class="title">
            <h4>
                Create an account to get started
            </h4>
            <p>
                Already have an account with us?
                <a href="">Sign in</a>
            </p>
        </div>
        <div class="form">
            <div class="form-group half">
                <div class="textbox">
                    <p>
                        First Name
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group half">
                <div class="textbox">
                    <p>
                        Last Name
                    </p>
                    <input type="text" />
                </div>
            </div>
            <p>
                Enter your name as it appears on your driver’s license.
            </p>
            <div class="form-group full">
                <div class="textbox">
                    <p>
                        Email address
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group half">
                <div class="textbox">
                    <p>
                        Phone Number
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group half">
                <div class="textbox">
                    <p>
                        Postal Code
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group full">
                <div class="textbox">
                    <p>
                        Password
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group full">
                <div class="textbox">
                    <p>
                        Confirm Password
                    </p>
                    <input type="text" />
                </div>
            </div>
            <p>
                Your password must be a minimum of 8 characters with one upper case and one special character or number.
            </p>
        </div>
        <div class="button">
            <a href="" class="btn btn-primary">Create my account</a>
        </div>
        <div class="or-separation">
            <p>
                or
            </p>
        </div>
        <div class="button">
            <button class="btn btn-facebook">Sign up with Facebook</button>
        </div>
        <div class="button">
            <button class="btn btn-google">Sign up with Google</button>
        </div>
        <div class="declaration">
            <p>
                By clicking the "Create My Account" button you:
            </p>
            <ul>
                <li>
                    Certify that you have read and agree to Carvana's Terms of Use and the E-SIGN consent that enables
                    all transactions and disclosure delivery to occur electronically.
                </li>
                <li>
                    Certify that you have received and read Carvana's Financial Privacy Policy.
                </li>
                <li>
                    Agree Carvana, or Carvana's authorized representatives*, may call and/or send text messages
                    (including by using equipment to automatically dial telephone numbers) about your interest in a
                    purchase, for marketing/sales purposes, or for any other servicing
                    or informational purpose related to your account. You do not have to consent to receiving calls or
                    texts to purchase from Carvana.
                    <br /> *Including, but not limited to, Bridgecrest Credit Company, GO Financial and SilverRock
                    Automotive.
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Sign in get started -->
<div id="modalview" class="modal">
    <div class="modal-content sign-in">
        <span class="modal-close">&times;</span>
        <div class="title">
            <h4>
                Create an account to get started
            </h4>
            <p>
                Already have an account with us?
                <a href="">Sign in</a>
            </p>
        </div>
        <div class="message">
            <p>
                Oops!<br />Looks like your location is out of range for our delivery service at this time.
            </p>
            <p>
                You are welcome to continue with setting up an account or leave your email for us to reach out when we
                extend our delivery service to your location.
            </p>
        </div>
        <div class="form">
            <div class="form-group half">
                <div class="textbox">
                    <p>
                        First Name
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group half">
                <div class="textbox">
                    <p>
                        Last Name
                    </p>
                    <input type="text" />
                </div>
            </div>
            <div class="form-group full">
                <div class="textbox">
                    <p>
                        Email address
                    </p>
                    <input type="text" />
                </div>
            </div>
        </div>
        <div class="button">
            <a href="" class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>