<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="menu">
                <div class="menu-items">
                    <h5>
                        FINANCING
                    </h5>
                    <ul>
                        <li>
                            <a href="">Get pre-qualified</a>
                        </li>
                        <li>
                            <a href="">Finance with Journey</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-items">
                    <h5>
                        TRADE or SELL
                    </h5>
                    <ul>
                        <li>
                            <a href="">Instant estimate</a>
                        </li>
                        <li>
                            <a href="">Selling/Trading Info</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-items">
                    <h5>
                        RESOURCES
                    </h5>
                    <ul>
                        <li>
                            <a href="">Warranty</a>
                        </li>
                        <li>
                            <a href="">Return Policy</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-items">
                    <h5>
                        ABOUT
                    </h5>
                    <ul>
                        <li>
                            <a href="">How it works</a>
                        </li>
                        <li>
                            <a href="">About Journey</a>
                        </li>
                        <li>
                            <a href="">Our Promise</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-items">
                    <h5>
                        CONTACT
                    </h5>
                    <ul>
                        <li>
                            <a href="">Customer support</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-items">
                    <h5>
                        SEARCH
                    </h5>
                    <ul>
                        <li>
                            <a href="">I know what I&#39;m looking for</a>
                        </li>
                        <li>
                            <a href="">I&#39;m open for discovery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
            <div class="copyright">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies leo.
                </p>
                <ul>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="">Legal Disclaimers</a>
                    </li>
                </ul>
            </div>
            <div class="certificate">
                <a href="" class="btn btn-gray">Certifications</a>
            </div>
        </div>
    </div>
</footer>